# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# 프로젝트 루트 디렉토리에 있는 config.json 파일을 Git에 커밋하지 않도록 설정
config.json

# iOS 빌드 파일 제외
/ios/build/
/ios/Pods/

# Android 빌드 파일 제외
/android/build/
/android/.gradle/

# 자동 생성 캐시 파일 제외
**/XCBuildData/

# node_modules 디렉토리 제외
node_modules/

# Firebase Admin SDK JSON key 파일 제외
functions/wearcanopj-firebase-adminsdk-file.json